In [2]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
import re
import datetime
import os

In [3]:
#KOSPI200 데이터 추출하기
kospi_200 = pd.read_csv('/home/jason/Desktop/data.csv')
kospi_200_name_code = kospi_200.drop(kospi_200.columns[[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]], axis=1)
kospi_200_name_code
kospi_200_name_code.to_csv('/home/jason/Desktop/pair_name_code.csv',index=False)
myList = ["027410","282330","138930","001040","079160","000120","097950","005830","000990","007700","114090","078930","006360","007070","012630","294870","011200","001060","105560","002380","016380","030200","033780","093050","003550","034220","001120","051900","032640","011070","066570","108670","051910","079550","006260","010120","035420","005940","010060","005490","064960","010950","034730","011790","001740","006120","096770","285130","017670","000660","005610","035250","010130","002240","011780","073240","000270","024110","025860","002350","251270","006280","005250","004370","019680","000210","001680","047040","042660","069620","006650","003490","192080","001230","026960","000640","170900","049770","014820","000150","241560","042670","034020","115390","032350","023530","004000","004990","005300","011170","002270","071840","204320","008560","006800","003850","003000","005180","006400","028260","207940","032830","018260","028050","009150","005930","010140","016360","029780","000810","145990","000070","004490","001430","068270","004170","031430","055550","003410","002790","090430","020560","010780","018250","012750","036570","111770","003520","000670","007310","271560","001800","316140","014830","000100","214320","139480","007570","020150","030000","185750","035720","192820","120110","021240","192400","284740","003240","009410","028670","047050","003670","103140","086790","000080","036460","071050","015760","009540","161890","161390","000240","047810","060980","008930","128940","009240","020000","105630","014680","018880","009420","006390","051600","052690","180640","000880","088350","009830","012450","000720","005440","086280","064350","012330","010620","069960","017800","011210","004020","267250","005380","001450","057050","008770","241590","004800","093370","081660","069260"]
m = np.asarray(myList)
kospi_200_name_code['종목코드'] = myList
kospi_200_name_code

FileNotFoundError: [Errno 2] No such file or directory: '/home/jason/Desktop/data.csv'

In [4]:
krx = fdr.StockListing('KRX')
krx

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
2580,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2581,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2582,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
2583,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
2584,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [4]:
#전체 한국 주식 종목 정보 추출
drop_col_list = ['SettleMonth', 'Representative', 'HomePage', 'Region']
krx = krx.drop(columns = drop_col_list)
krx = krx.dropna()
krx.to_csv('/home/jason/Desktop/krxData.csv', index=False)
name_list = krx['Name'].tolist()
len(name_list)

2359

In [4]:
name_list_aluko = [x for x in name_list if(x!='알루코')]

In [4]:
krx.loc[krx['Symbol']=="001780"]

      Symbol Market Name       Sector      Industry ListingDate
1318  001780  KOSPI  알루코  1차 비철금속 제조업  알루미늄제품,샷시 제조  2007-06-07

In [5]:
lwlf_path="/home/jason/Desktop/lwlf.csv"
csv_path="/home/jason/Desktop/temp.csv"
json_path="/home/jason/Desktop/stock.json"
dir_path = '/home/jason/Desktop/stockData'

lwlf_path_kaggle = '../input/stockdata/lwlf.csv'
csv_path_kaggle = '../working/temp.csv'
json_path_kaggle = '../working/stock.json'

In [6]:
start_date = '1985-01-01'
end_date = '2020-07-31'

In [7]:
#매달 마지막주의 금요일들을 return한다.
def get_last_lwlf(path, extract_num='default'):
    lwlf_raw_data = pd.read_csv(path)
    lwlf = list(lwlf_raw_data['Date'])
    if extract_num != 'default':
        return lwlf[-extract_num:]
    return lwlf

lwlf = get_last_lwlf(lwlf_path)

In [8]:
#Create Symbol-Name Dictionary
def symbol_name_dictionary():
    krx = fdr.StockListing('KRX')
    dict_krx = {k: v for k, v in zip(krx.Symbol, krx.Name)}
    return dict_krx

In [12]:
#Crate Symbo-Name tuple in list
def symbol_name_listuple():
    krx = fdr.StockListing('KRX')
    tuple_list = list(tuple(zip(krx.Symbol, krx.Name)))
    return tuple_list

krx_tup_list=symbol_name_listuple()
krx_tup_list
len(krx_tup_list)
my_dict = symbol_name_dictionary()

In [47]:
#Sampling
def sampling_stock_by_ticker(ticker, sym_nam_dict):
    if isinstance(ticker, list):
        return dict((k,v) for k, v in sym_nam_dict.items() if k in ticker)
    return dict((k,v) for k, v in sym_nam_dict.items() if k == ticker)

def sampling_stock_by_name(name, sym_nam_dict):
    if isinstance(name, list):
        return dict((k,v) for k, v in sym_nam_dict.items() if v in name)
    return dict((k,v) for k, v in sym_nam_dict.items() if v == name)

def sampling_stock_by_name_tup(name, sym_nam_tup):
    if isinstance(name, list):
        return list(tuple((k,v) for k, v in sym_nam_tup if v in name))
    return list(tuple((k,v) for k, v in sym_nam_tup if v == name))

three_dicts=sampling_stock_by_name(['삼성전자', '카카오', 'NAVER'], my_dict)
#name_list : krx전체 주식 목록(이름)
#error_test_list : 숫자가 맞지 않는 주식 테스트 목록
tup_list = sampling_stock_by_name_tup(['삼성전자', '카카오', 'NAVER', 'LG생활건강', '셀트리온', '아모레퍼시픽', '삼성물산', '씨젠', '현대차', 'POSCO'], krx_tup_list)
print('추출할 주식 종목 수:',len(tup_list))
print('전체 한국 주식 종목 수 : ', len(krx_tup_list))

추출할 주식 종목 수: 10
전체 한국 주식 종목 수 :  2585

In [46]:
print(tup_list)

[('051900', 'LG생활건강'), ('035420', 'NAVER'), ('005930', '삼성전자'), ('068270', '셀트리온'), ('090430', '아모레퍼시픽'), ('035720', '카카오')]

In [14]:
def save_data(df, path, i):
    df.to_csv(path + f'{i}' + '번째.csv', index=False)

In [15]:
def save_data_manually(df,path,number):
    df.to_csv(path + f'{number} + 번째.csv', index=False)

In [16]:
def get_file_size(path):
    kb = os.path.getsize(path)
    test = str(kb)
    print(re.sub(r'(?<!^)(?=(\d{3})+$)', r'.', test), 'MB')

In [17]:
import csv
import json
from collections import OrderedDict

def csv_converter_json(csv_path, json_path):


    entries = []
    #the with statement is better since it handles closing your file properly after usage.
    with open(csv_path, 'r', encoding='utf8') as csvfile:
        #python's standard dict is not guaranteeing any order, 
        #but if you write into an OrderedDict, order of write operations will be kept in output.
        reader = csv.DictReader(csvfile)
        for row in reader:
            entries.append(row)
    
    output = {
        "stock": entries
    }

    with open(json_path, 'w', encoding='UTF-8-sig') as jsonfile:
        jsonfile.write(json.dumps(output, ensure_ascii=False))

In [18]:
def get_data(knicker_tuple,lwlf_list,start_date,end_date):
    #Initializing dataframe
    init_columns=['Date', 'Knicker', 'Name', 'Price']
    result_df = pd.DataFrame(columns=init_columns)

    
    df = fdr.DataReader(knicker_tuple[0], start_date, end_date)
    df = df.reset_index()
    df = df.drop(['Open', 'High', 'Low', 'Volume', 'Change'], axis=1)
    df = df.loc[df['Date'].isin(lwlf_list)]
    df = df.rename({'Close':'Price'}, axis=1)
    df.insert(1, "Knicker", knicker_tuple[0])
    df.insert(2, "Name", knicker_tuple[1])
    result_df = result_df.append(df)
    result_df.reset_index(drop=True, inplace=True)
    
    
    return result_df

In [19]:
#np.where로 검색하기 위해서 type을 모두 string으로 맞춘다.

def skipped_minus(main_df, val_df, sample_lwlf, minus=1):
    string_date=[]
    
    #When DoubleGotcha
    if 'DoubleGotcha!' in val_df.values:
        dg_skipped_list = []
        dg_adjusted_list = []
        dg_df = val_df.loc[val_df['Index']=="DoubleGotcha!"]
        dg_df = dg_df.reset_index()
        dg_str = datetime.datetime.strftime(dg_df['Date'][0], "%m/%d/%Y")
        dg_lwlf=np.asarray(sample_lwlf)
        result = np.where(dg_str==dg_lwlf)
        prev_1st = result[0][0]-2
        dg_skipped_list.append(dg_lwlf[prev_1st])
        for i in dg_skipped_list:
            date=datetime.datetime.strptime(i, '%m/%d/%Y').date()-datetime.timedelta(1)
            dg_adjusted_list.append(date)
        bg_data_tuple = tuple(zip(dg_adjusted_list, val_df['Knicker'], val_df['Name']))
        
        for i, n in enumerate(bg_data_tuple):    
            bg_new_df = fdr.DataReader(bg_data_tuple[i][1], bg_data_tuple[i][0], bg_data_tuple[i][0])
            bg_new_df = bg_new_df.reset_index()
            bg_new_df = bg_new_df.drop(['Open', 'High', 'Low', 'Volume', 'Change'], axis=1)
            bg_new_df = bg_new_df.rename({'Close':'Price'}, axis=1)
            bg_new_df.insert(1, "Knicker", bg_data_tuple[i][1])
            bg_new_df.insert(2, "Name", bg_data_tuple[i][2])
            main_df = main_df.append(bg_new_df, ignore_index=True)
        
        
    #When No DoubleGotcha    
    for i in val_df['Date']:
        my_str = datetime.datetime.strftime(i, "%m/%d/%Y")
        string_date.append(my_str)
    skipped_list=[]
    sample_lwlf=np.asarray(sample_lwlf)
    string_date=np.asarray(string_date)
    for i in string_date:
        result = np.where(i==sample_lwlf)
        prev = result[0][0]-1
        skipped_list.append(sample_lwlf[prev])
    adjusted_list=[]
    for i in skipped_list:
        date=datetime.datetime.strptime(i, '%m/%d/%Y').date()-datetime.timedelta(minus)
        adjusted_list.append(date)
    data_tuple = tuple(zip(adjusted_list, val_df['Knicker'], val_df['Name']))
    for i, n in enumerate(data_tuple):    
        new_df = fdr.DataReader(data_tuple[i][1], data_tuple[i][0], data_tuple[i][0])
        new_df = new_df.reset_index()
        new_df = new_df.drop(['Open', 'High', 'Low', 'Volume', 'Change'], axis=1)
        new_df = new_df.rename({'Close':'Price'}, axis=1)
        new_df.insert(1, "Knicker", data_tuple[i][1])
        new_df.insert(2, "Name", data_tuple[i][2])
        main_df = main_df.append(new_df, ignore_index=True)
        
    main_df.reset_index()
    main_df = main_df.drop(['Index', 'Month'], axis=1)
    main_df['Date'] =pd.to_datetime(main_df.Date) 
    main_df.sort_values(by='Date', inplace=True)
    return main_df

In [20]:
def execute(sam_tup, lwlf, start_date, end_date):
    df = get_data(sam_tup, lwlf, start_date, end_date)
    val_df = skip_validation(df)
    res_df = skipped_minus(df, val_df, lwlf, minus=1)
    minus_arg = 1
    while(len(val_df)>=1):
        minus_arg+=1;
        print('Name :', res_df['Name'][0])
        val_df = skip_validation(res_df)
        res_df = skipped_minus(res_df, val_df, lwlf, minus_arg)
    res_df.reset_index(drop=True, inplace=True)

    return res_df

In [21]:
def skip_validation(df):
    df['Month']=pd.DatetimeIndex(df['Date']).month
    inc = [0]
    for i, n in enumerate(zip(df['Month'][1:], df['Month'][:-1]), 0):
        if (n[0] - n[1]) == 1 :
            inc.append('+1')
        elif (n[0] - n[1]) == -11:
            inc.append('Next Year')
        elif (n[0] - n[1]) == -9:
            inc.append('DoubleGotcha!')
        else:
            inc.append('Gotcha!')
            
    df['Index'] = inc
    
    if(len(df.loc[df['Index']=='DoubleGotcha!'])>=1):
        print('Total of Gotcha : ',len(df.loc[df['Index']=='Gotcha!'].append(df.loc[df['Index']=='DoubleGotcha!'])))
        print('Number of DoubleGotcha : ',len(df.loc[df['Index']=='DoubleGotcha!']))
        return df.loc[df['Index']=='Gotcha!'].append(df.loc[df['Index']=='DoubleGotcha!'])
    
    
    print('Number of Gotcha : ',len(df.loc[df['Index']=='Gotcha!']))
    return df.loc[df['Index']=='Gotcha!']

In [15]:
#sam_df = execute(nav_tup, lwlf, start_date, end_date)

In [22]:
def check_number_months(df):
    end_date_year=df['Date'].iloc[-1].year
    end_date_month=df['Date'].iloc[-1].month
    start_date_year=df['Date'].iloc[0].year
    start_date_month=df['Date'].iloc[0].month
    num_months=(end_date_year - start_date_year) * 12 + (end_date_month - start_date_month)+1
    return num_months == len(df)

In [23]:
def append_data(tup_list, lwlf, start_date, end_date):
    init_columns=['Date', 'Knicker', 'Name', 'Price']
    result_df = pd.DataFrame(columns=init_columns)
    error_stock_list = []
    for index, tuple_data in enumerate(tup_list):
        if(index % 550==0):
            print('★★★저장되었습니다★★★')
            save_data(result_df, dir_path, index)
            
        df = execute(tuple_data, lwlf, start_date, end_date)
        print(index, '번째입니다')
        if check_number_months(df)==False:
            print("Numbers doesn't match: ", tuple_data)
            error_stock_list.append(tuple_data[1])
            continue
        else:
            print('Number match!')
            print(datetime.datetime.now().time())
        result_df = result_df.append(df)
    result_df.reset_index(drop=True, inplace=True)
    result_df['Date']=result_df['Date'].apply(lambda x: x.strftime('%Y-%m'))

    return result_df, error_stock_list

In [50]:
final = append_data(tup_list, lwlf, start_date, end_date)
final_df = final[0]

★★★저장되었습니다★★★
Total of Gotcha :  11
Number of DoubleGotcha :  1
Name : LG생활건강
Number of Gotcha :  1
Name : LG생활건강
Number of Gotcha :  0
0 번째입니다
Number match!
16:29:04.375618
Total of Gotcha :  11
Number of DoubleGotcha :  1
Name : NAVER
Number of Gotcha :  1
Name : NAVER
Number of Gotcha :  0
1 번째입니다
Number match!
16:29:08.294851
Total of Gotcha :  15
Number of DoubleGotcha :  1
Name : POSCO
Number of Gotcha :  4
Name : POSCO
Number of Gotcha :  2
Name : POSCO
Number of Gotcha :  0
2 번째입니다
Number match!
16:29:14.764953
Total of Gotcha :  3
Number of DoubleGotcha :  1
Name : 삼성물산
Number of Gotcha :  0
3 번째입니다
Number match!
16:29:15.473110
Total of Gotcha :  15
Number of DoubleGotcha :  1
Name : 삼성전자
Number of Gotcha :  4
Name : 삼성전자
Number of Gotcha :  2
Name : 삼성전자
Number of Gotcha :  0
4 번째입니다
Number match!
16:29:22.540448
Total of Gotcha :  9
Number of DoubleGotcha :  1
Name : 셀트리온
Number of Gotcha :  1
Name : 셀트리온
Number of Gotcha :  0
5 번째입니다
Number match!
16:29:26.344307
Total of Gotcha :  6
Number of DoubleGotcha :  1
Name : 씨젠
Number of Gotcha :  1
Name : 씨젠
Number of Gotcha :  0
6 번째입니다
Number match!
16:29:28.265285
Total of Gotcha :  8
Number of DoubleGotcha :  1
Name : 아모레퍼시픽
Number of Gotcha :  1
Name : 아모레퍼시픽
Number of Gotcha :  0
7 번째입니다
Number match!
16:29:30.628792
Total of Gotcha :  13
Number of DoubleGotcha :  1
Name : 카카오
Number of Gotcha :  3
Name : 카카오
Number of Gotcha :  2
Name : 카카오
Number of Gotcha :  0
8 번째입니다
Number match!
16:29:35.342651
Total of Gotcha :  15
Number of DoubleGotcha :  1
Name : 현대차
Number of Gotcha :  4
Name : 현대차
Number of Gotcha :  2
Name : 현대차
Number of Gotcha :  0
9 번째입니다
Number match!
16:29:40.089590

In [25]:
final_df

Empty DataFrame
Columns: [Date, Knicker, Name, Price]
Index: []

In [55]:
save_data_manually(final_df, csv_path, f'{1100+447}')

In [56]:
2097+256

2353

In [45]:
save_data_manually(final_df, csv_path, f'{1100+447}')
csv_converter_json(csv_path, json_path)
get_file_size(json_path)

3.597.801 MB

In [21]:
#pd.options.display.max_rows = 4000

In [22]:
# df=fdr.DataReader('005930', '2014-01-30','2014-01-30')

In [23]:
# pd.options.display.max_rows = 4000
# sam_df

In [15]:
json_path="/home/jason/Desktop/stock_2097-2353.json"

In [16]:
csv_converter_json('/home/jason/Desktop/stockData(2097-2353).csv', json_path)